<div class="container">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>
            Patient Name
          </th>
          <th>
            Patient Surname
          </th>
          <th>
            Decibel
          </th>
          <th>
            Face Express
          </th>
          <th>
            Pressure
          </th>
          <th>
            Humor
          </th>
          <th>
            Image
          </th>
        </tr>
        <tr>
          <td>
            {{sensordata.patientName}}
          </td>
          <td>
            {{sensordata.patientSurname}}
          </td>
          <td>
            {{sensordata.decibel}}
          </td>
          <td>
            {{sensordata.faceExpress}}
          </td>
          <td>
            {{sensordata.humidity}}
          </td>
          <td>
            {{list[1]}}
          </td>
          <td>
            <img src = {{list[0]}}>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>